
<section id="aborto" style="display:none">
	<h1>I'm the second page</h1>
	<p>
		Sei in cinta e devi abortire? Cerca qui le info necessarie!
	</p>   

	<a href="map.html" > Click here to find the structure close to you </a>
	<br /> 
	<a href="home" class="next"> Click here to go to previous step </a>
</section>
