<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {{#block "head"}}
        <title>{{title}}</title>
        <meta name="description" content="">
  {{/block}}
</head>

<body>
    {{#block "header"}}
        <h1>{{title}}</h1>
        {{> header}}
    {{/block}}

    <div class="container" role="main">
      {{#block "container"}}
      {{/block}}
    </div>


    <div class="site-ft" role="contentinfo">
      {{#block "copy"}}
          <small>&copy; 2014</small>
      {{/block}}
    </div>
  </div>

  {{#block "footer"}}
    {{> footer}}
  {{/block}}
  
</body>
</html>

